body {
  background-color: hsl(204, 100%, 81%);
}

#complimentButton {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#fortune {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#fortune-here {
  display: block;
  text-align: center;
  font-size: 40px;
}

#pickColor {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#color {
  display: block;
  text-align: center;
  font-size: 40px;
}

#pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}

#pic-button {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
